:root {
  color-scheme: dark;
  background-color: #1A2130;
}


html,
body {
  padding: 0;
  margin: 0;
  text-rendering: geometricPrecision;
  color: white;
  font-family: MiSansKhmer, Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  line-height: 22px;
  padding-bottom: 3rem;
  z-index: 1;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
  background-image: linear-gradient(-225deg, #1A2130 0%, #8481ae 400%);
  animation: roller 8s infinite;
  background-size: 200% 200%;
}


@keyframes roller {

  0%,
  100% {
    background-position: 10% 0%
  }

  50% {

    background-position: 91% 100%
  }
}

body {
  overflow-y: scroll;
}

#app {
  max-width: 720px;
  padding: .6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
  font-family: inherit;
  padding: 0.4em 0.8em;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.2em;
  outline: none;
  color: white;
  font-weight: 500;
  transition: 0.2s ease;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

input:disabled::placeholder {
  color: rgba(255, 255, 255, 0.1);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

input:not(:disabled):focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.example {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.8em 1em;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: .6rem;
}

strong {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.stats {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

li {
  border-radius: 1.4rem;
  margin: 0;
  padding: 0.4em 1.2em;
  transition: 0.2s ease;
  background-color: rgba(255, 255, 255, 0.05);
}

li.exact {
  border: 2px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, 0.1);
}

li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

li.exact:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.pos {
  vertical-align: middle;
  display: inline-block;
  padding: 0.2em 0.3em;
  margin: 0 0.4em;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, .8);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  border-radius: .4rem;
}

.word {
  flex: 1;
  display: block;
  font-size: 24px;
  margin: 0.4em 0;
  font-weight: 500;
}

#sample-list {
  display: flex;
  gap: 0.2em;
  padding: 0.6em 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.clipboard-copy,
.button-word-suggest {
  all: unset;
  background-color: rgba(255, 255, 255, 0.05);

  color: white;
  padding: 0.2em 0.6em;
  font-weight: 500;
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  border-radius: 1rem;
  transition: 0.2s ease;
}

.clipboard-copy:hover,
.button-word-suggest:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.clipboard-copy:active,
.button-word-suggest:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.clipboard-copy {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
}

.app-name {
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 0.6em;
}

p.empty {
  font-weight: 600;
  text-align: center;
  padding: 0.8em 0.4em;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.4em;
  border-radius: 0;
  display: grid;
  place-items: center;
  min-height: 150px;
  aspect-ratio: 2/1;
  border-radius: 1.4rem;
}

.app-description {
  text-align: center;
  padding-bottom: 1em;
  color: rgba(255, 255, 255, 0.6);
  font-size: .95em;
  padding-top: 0;
  margin-top: .6rem;
}

#search {
  display: none;
  font-weight: 600;
  font-size: 1.4em;
  position: sticky;
  background-color: rgba(49, 54, 71, .9);
  backdrop-filter: blur(10px);
  top: 6px;

}

#progress-container {
  padding: 0;
}

.pronunciation {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.85em;
  font-weight: 600;
}

.pronunciation .white {
  color: white;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap {
  gap: 0.6rem;
}

.button:not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.025);
}

.button:not(:disabled):active {
  background-color: rgba(255, 255, 255, 0.1);
}

.button {
  all: unset;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, .8);
  padding: .1em 0.3em;
  padding-right: .4rem;
  font-weight: 600;
  font-size: 14px;
  border-radius: 1rem;
  transition: 0.2s ease;
  font-size: 14px;
  gap: .2rem;
  transition: .2s ease;
}

.justify-center {
  display: flex;
  justify-content: center;
}

button.button:disabled {
  animation: pulse 2s infinite;
}


@keyframes pulse {

  0%,
  100% {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, .2);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, .9);
  }
}

.support-card-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-card {
  color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  background-color: rgba(26, 33, 48, .5);
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  font-weight: 500;
  padding: .4rem .6rem;
  display: flex;
  align-items: center;
  gap: .6rem;
}

.payment-icon {
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(.7);
}

.support-card a:hover .payment-icon,
.support-card a:focus .payment-icon {
  filter: grayscale(0);
}

.support-card a {
  display: flex;
}

#keyman-toggle {
  border: none;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, .8);

  border-radius: 1rem;
  font-family: inherit;
  font-weight: 500;
  font-size: .9rem;
  padding: .3rem .6rem;
  margin-bottom: .4rem;
  display: flex;
  align-items: center;
  gap: .4rem;
}

.font-footnote {
  border-top: 2px solid rgba(255, 255, 255, .1);
  padding-top: .6rem;
  font-size: .85rem;
  display: flex;
  flex-direction: row;
  gap: .4rem;
  justify-content: center;
}

.font-footnote a {
  color: rgba(255, 255, 255, .4);
  text-decoration: none;
}

.font-footnote a:hover {
  color: rgba(255, 255, 255, .7);
}

.font-label {
  color: rgba(255, 255, 255, .75);
  font-weight: 600;
}